<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-redcrop" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>redCrop</name>

	<description>
		Cordova image cropping with support for fixed aspect ratios
	</description>

	<license>ISC</license>

	<engines>
		<engine name="cordova-ios" version=">=3.5.0" />
	</engines>

	<js-module name="CropPlugin" src="www/redCrop.js">
		<clobbers target="cordova.plugins.redCrop" />
	</js-module>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="CropPlugin">
				<param name="ios-package" value="CTCrop" />
			</feature>
		</config-file>

		<header-file src="src/ios/CTCrop.h" />
		<source-file src="src/ios/CTCrop.m" />
		<header-file src="src/ios/Lib/PECropRectView.h" />
		<source-file src="src/ios/Lib/PECropRectView.m" />
		<header-file src="src/ios/Lib/PECropView.h" />
		<source-file src="src/ios/Lib/PECropView.m" />
		<header-file src="src/ios/Lib/PECropViewController.h" />
		<source-file src="src/ios/Lib/PECropViewController.m" />
		<header-file src="src/ios/Lib/PEResizeControl.h" />
		<source-file src="src/ios/Lib/PEResizeControl.m" />
		<header-file src="src/ios/Lib/UIImage+PECrop.h" />
		<source-file src="src/ios/Lib/UIImage+PECrop.m" />
		<resource-file src="src/ios/Lib/PEPhotoCropEditor.bundle" />

		<framework src="QuartzCore.framework" />
		<framework src="AVFoundation.framework" />		

	</platform>
</plugin>